<!-- TEMPLATE DRIVEN APRROACH -->
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginFormRef)" #loginFormRef="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input 
                matInput
                name="email" ngModel
                type="email"
                placeholder="E-Mail"
                #emailInputRef="ngModel"
                required
                email
            >
            <mat-error *ngIf="emailInputRef.invalid">Please enter a valid e-mail.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
                matInput 
                name="password" ngModel
                type="password"
                placeholder="Password"
                #passwordInputRef="ngModel"
                required
            >
            <mat-error *ngIf="">Please enter a vali password content.</mat-error>
        </mat-form-field>
        <button 
            mat-raised-button
            color="accent" 
            type="submit"
        >
            Login
        </button>
    </form>
</mat-card>